.topmenubar {
  display: block;
  opacity: 1;
}

.navi {
  display: flex;
  justify-content: center;
  margin-bottom: -11rem;
  opacity: 1;
}

.topmenu {
  float: left;
  list-style: none;
  padding-left: 3rem;
  padding-right: 3rem;
  opacity: 1;
}

.topmenu_hover {
  float: left;
  list-style: none;
  padding-left: 3rem;
  padding-right: 3rem;
  opacity: 1;
}

.topmenu_ul {
  visibility: hidden;
  list-style: none;
  opacity: 1;
}

.topmenu_hover_ul {
  list-style: none;
  margin-bottom: 11rem;
  opacity: 1;
}

.navi ul li ul li {
  list-style: none;
  opacity: 1;
}

.navi > ul {
  margin: 25px 0 15px 0;
  padding: 0 0 0 0;
  opacity: 1;
}

.navi > ul > li {
  text-align: center;
  opacity: 1;
}

.navi > ul > li > ul {
  padding: 20px 0px 0px 0px;
  opacity: 1;
}

.navi > ul > li > ul > li {
  text-align: center;
  padding: 10px 50px;
  opacity: 1;
}
