.topmenubar {
  display: block;
}

.navi {
  background-color: red;
  display: flex;
  justify-content: center;
  position: relative;
  height: 300px;
}
.test_navi {
  background-color: blue;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;
}

.topmenu {
  float: left;
  list-style: none;
  padding-left: 1vw;
  padding-right: 1vw;
  opacity: 1;
  height: 2vw;
}

.topmenu_hover {
  float: left;
  list-style: none;
  padding-left: 1vw;
  padding-right: 1vw;
  opacity: 1;
  height: 10vw;
}

.topmenu_hover_ul {
  list-style: none;
  opacity: 1;
}

.topmenu_ul {
  visibility: hidden;
  list-style: none;
  opacity: 1;
}

.topmenu_font_ul {
  font-size: 2vw;
}

.test_topmenu_font_ul {
  font-size: 18px;
}

.topmenu_font_li {
  font-size: 1.6vw;
}

.test_topmenu_font_li {
  font-size: 16px;
}

.navi ul li ul li {
  list-style: none;
}

.navi > ul {
  margin: 25px 0 15px 0;
  padding: 0 0 0 0;
}

.navi > ul > li {
  text-align: center;
}

.navi > ul > li > ul {
  padding: 20px 0px 0px 0px;
}

.navi > ul > li > ul > li {
  text-align: center;
  padding: 10px 50px;
}
